<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SaleSoft</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/materialize/materialize.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="container ">
            <div class="row">
                <nav class="blue-text">
                    <div class="nav-wrapper lime accent-2">
                        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <form class="right" style="margin-right: 10px;" method="post" asp-controller="Account" asp-action="Logout">
                        <button class="btn-small waves-effect lime accent-3 black-text" type="submit" name="action">
                            <i class="material-icons" style="font-size: 15px;line-height: unset;">exit_to_app</i>
                        </button>
                    </form>

                        <ul class="left hide-on-med-and-down">
                            <li class="active"><a href="sass.html">Инфо</a></li>
                            <li><a href="#">Продажи</a></li>
                            <li><a href="#">Софт</a></li>
                            <li><a href="#">Клиенты</a></li>
                            <li><a href="#">Магазины</a></li>
                            <li><a href="#">Скидки</a></li>
                        </ul>
                    </div>
                </nav>

                <ul class="sidenav" id="mobile-demo">
                    <li><a href="#">Продажи</a></li>
                    <li><a href="#">Софт</a></li>
                    <li><a href="#">Клиенты</a></li>
                    <li><a href="#">Магазины</a></li>
                    <li><a href="#">Скидки</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="container">
        <main>
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/materialize/materialize.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
