@{
    ViewData["Title"] = "Обновление Клиента";
}
@model SaleSoft.Models.EF.Client

<div class="row center-align">
    <form class="col s8 offset-s2" method="post" asp-action="UpdateClient" asp-controller="Clients">
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="row">
            <div class="input-field col s12 ">
                <input id="FullName" type="text" name="FullName" class="validate" autocomplete="off" required value="@Model.FullName"/>
                <label for="FullName">Полное имя</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 ">
                <input id="price" type="number" name="Mark" class="validate" autocomplete="off" min="1" max="5" required value="@Model.Mark" />
                <label for="price">Оценка</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 ">
                <button class="btn waves-effect waves-light" type="submit" name="action">Сохранить</button>
            </div>
        </div>
    </form>
</div>
