@{
    ViewData["Title"] = "Добавление Магазина";
}

<div class="row center-align">
    <form class="col s8 offset-s2" method="post" asp-action="CreateShop" asp-controller="Shops">
        <div class="row">
            <div class="input-field col s12 ">
                <input id="Name" type="text" name="Name" class="validate" autocomplete="off" required />
                <label for="Name">Полное имя</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 ">
                <input id="price" type="number" name="Price" class="validate" autocomplete="off" step=".1" min="1" required />
                <label for="price">Цена</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 ">
                <button class="btn waves-effect waves-light" type="submit" name="action">Добавить</button>
            </div>
        </div>
    </form>
</div>