@{Layout = null;}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - SaleSoft</title>
    <link rel="stylesheet" href="~/lib/materialize/materialize.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="container center-align" style="margin-top: 60px;">
        <div class="row">
            <div class="col m4 offset-m4 s12">
                <form class="m4 offset-m4 lime accent-2">
                    <div class="container">
                        <div class="row ">
                            <div class="input-field col s12">
                                <input id="last_name" type="text" class="black-text">
                                <label class="black-text" for="last_name">Логин</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" type="password" class="black-text">
                                <label class="black-text" for="password">Пароль</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field s14 offset-s4">
                                <button class="btn-small waves-effect lime accent-3 black-text" type="submit" name="action">Войти</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="~/lib/materialize/materialize.js"></script>
</body>
</html>
